body {
    --hov-bg-color: #c0c0c0;
    --tint: rgba(0,0,0,0.08);
}
@media (prefers-color-scheme: dark) {
    body {
        --hov-bg-color: #303030;
        --tint: rgba(255,255,255,0.08);
    }
}

td, th {padding: 0.3em 0.5em;}
td.danger {color: var(--text-danger); background-color: var(--danger-tint);}
td.warning {color: var(--text-warning); background-color: var(--warning-tint);}

td[data-msg] {
    position: relative;
}
td[data-msg]:hover, td[data-msg]:focus {
    position: relative;
    outline: 1px solid var(--text-color);
}
td[data-msg]:hover::before, td[data-msg]:focus::before {
    content: "";
    position: absolute;
    top: 0; left: 0; right: 0; bottom: 0;
    background-color: var(--tint);
    z-index: 50;
}
td[data-msg]:hover::after, td[data-msg]:focus::after {
    visibility: visible;
}
td[data-msg]::after {
    visibility: hidden;
    position: absolute;
    left: 0.5em;
    top: -1.2em;
    z-index: 100;
    content: attr(data-msg);

    color: var(--text-color);
    background-color: var(--hov-bg-color);
    opacity: 0.9;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    white-space: nowrap;
    box-shadow: 0 0 4px black, 0 0 20px black;
}
