body {--hov-bg-color: #c0c0c0;}
@media (prefers-color-scheme: dark) {
    body {--hov-bg-color: #303030;}
}

td.danger {color: var(--text-danger); background-color: var(--danger-tint);}
td.warning {color: var(--text-warning); background-color: var(--warning-tint);}

td[data-msg] {
    position: relative;
}
td[data-msg]:hover::after, td[data-msg]:focus::after {
    visibility: visible;
}
td[data-msg]::after {
    visibility: hidden;
    position: absolute;
    top: 1.1em;
    left: 0.5em;
    z-index: 100;
    content: attr(data-msg);

    color: var(--text-color);
    background-color: var(--hov-bg-color);
    opacity: 0.9;
    border-radius: 0.2em;
    padding: 0.2em 0.3em;
    white-space: nowrap;
}
